body {
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 75vh;
    margin: 50;
    border-radius: 15px;

}

.fondo {
    border: 1px;
    padding: 20px;
    background-color: rgba(138, 43, 226, 0.5);
    border-radius: 15px;
}

nav {
    margin-bottom: 20px;
    border-radius: 15px;
}

input::placeholder {
    background-color: gainsboro;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
}

textarea::placeholder {
    background-color: gainsboro;
    border-radius: 15px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
}
