@font-face {
    src: url('/imagenes/Magenta.ttf') format('truetype');
    font-family: 'Magenta';
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Magenta', 'Lora';
}

a {
    text-decoration: none;
    font-family: 'Lora', serif;
    color: black;
    font-weight: normal;
}

a:hover {
    font-family: 'Lora', serif;
    color: green;
}