body {
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin: 50px;
    background-color: black;
    color: white;
    font-family: 'Lora', serif;
    text-align: center;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    margin-right: 20px;
}

nav {
    background-color: rgba(138, 43, 226, 0.8);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    background-color: white;
    color: black;
}

section {
    background-color: rgba(138, 43, 226, 0.2);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.imagen-pequena {
    width: 100px;
    height: auto;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: transform 0.3s ease;
}
.imagen-pequena.ampliada {
    width: 350px;
}

footer {
    background-color: rgba(138, 43, 226, 0.8);
    padding: 10px;
    border-radius: 20px;
    color: white;
}

footer a, footer button {
    margin: 0 10px;
    color: white;
}

